input {
	display: block;
	margin: auto;
	margin-bottom: 10px;
	width: 70%;
}

.col-md-6 {
	margin: 0px;
	padding: 0px;
}

#confirm-password {
	margin-top: 10px;
}

#register-form #formTitle {
	color: #393433;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

#largeLogo {
	float: right;
	height: 400px;
	margin-right: 20px;
	margin-top: 80px;
	width: 400px;
}

#loginLink {
	display: block;
	margin: auto;
	padding: 20px;
	text-align: center;
}

#registerBtn {
	display: block;
	margin: auto;
	margin-top: 20px;
	width: 40%;
}

#register-form {
	background-color: #fff;
	border: 2px solid #393433;
	border-radius: 4px;
	float: left;
	height: 400px;
	margin-left: 20px;
	margin-top: 80px;
	padding: 20px;
	width: 400px;
}

@media only screen and (max-width: 998px) {
	#loginLink {
		padding-top: 10px;
	}
	
	#register-form #formTitle {
		margin-top: 0px;
	}

	#register-form, #largeLogo {
		height: 340px;
		width: 340px;
	}
}

@media only screen and (max-width: 767px) {
	.largeLogo {
		display: none;
	}

	#register-form {
		float: none;
		height: fit-content;
		margin: auto;
		margin-bottom: 40px;
		margin-top: 40px;
		width: 80%;
	}

	#register-form #formTitle {
		margin-top: 10px;
	}
}